Source: rehex
Priority: extra
Maintainer: Daniel Collins <solemnwarning@solemnwarning.net>
Build-Depends:
 libcapstone-dev,
 debhelper (>= 9),
 libgtk2.0-dev,
 libjansson-dev,
 liblua5.3-dev,
 libunistring-dev,
 libwxgtk3.0-dev,
 lua5.3,
 pkg-config,
 xauth,
 xvfb,
 wx3.0-headers,
 zlib1g-dev
Standards-Version: 3.9.4
Section: editors
Homepage: https://github.com/solemnwarning/rehex/

Package: rehex
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libcapstone3,
 libjansson4,
 liblua5.3-0,
 libunistring2,
 libwxgtk3.0-0v5,
 zlib1g
Description: Reverse Engineers' Hex Editor
